* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whole {
    max-width: 480px;
    margin: auto;
}

main h3 {

    padding-top: 45px;
    color: rgba(51, 51, 51, 255);

}

main p {
    color: rgba(102, 102, 102, 255);

}

main .flex {
    flex-direction: column;

}

.flex {
    display: flex;
    justify-content: center;
}

h3 {
    margin-bottom: 25px;

    font-size: 24px;
}

h2 {
    margin-bottom: 25px;
    font-size: 32px;
}

.wrapper {
    margin: auto;
    width: 70%;
}

.navig {
    padding-top: 15px;
    font-size: 18px;
    margin: auto;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 95px;
}

.find {

    border-radius: 25px;
    padding: 14px;
    margin: auto;
    background-color: #ff4e50;
}

.f22 {
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 45px;
}

main {
    text-align: center;
}

header {
    text-align: center;
    padding: 0 15px 150px;
    color: white;
    background-image: linear-gradient(to right, #ff5f6c98, #ffc47196), url(../images/back.png);
    background-size: cover;
    background-position: center;
}

a {
    padding: 7px 15px 7px;
    text-decoration: none;
    color: white;
}

button {
    width: 100%;
    border-radius: 25px;
    padding: 7px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    background-color: transparent;
}

.navig a:hover {
    border-radius: 18px;
    border: 2px solid white;
}

.name {
    padding-top: 15px;
    font-weight: 800;
    color: black;
    margin-bottom: 15px;
}

.otstup {
    margin: auto;
    width: 70%;
    margin-bottom: 25px;
}

.rel {
    margin: auto;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/1.png);
    width: 120px;
    position: relative;
    border-radius: 50%;
}

.r2 {
    background-image: url(../images/2.png);
}

.r3 {
    background-image: url(../images/3.png);
}

.r4 {
    background-image: url(../images/4.png);
}

.abs {
    padding-top: 4px;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
}

.icon {
    padding-top: 6px;
    margin: auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #ff4e50;
}

.i2 {
    background-color: #ffa507;
    padding-top: 3px;

}

.i3 {
    background-color: #1cd7ad;
    padding-top: 3px;

}

.i4 {
    background-color: #4e73db;
    padding-right: 1px;

}

.tel {
    padding-top: 2px;

}

.logo {
    display: none;
}

.wrapper button {
    margin: 0 auto 25px;
}

@media (min-width:768px) {
    .nav {
        margin: auto;
        width: 100%;
        justify-content: space-between;
    }

    .wrapper {
        width: 80%;
    }

    .logo {
        text-align: left;
        display: block;
        font-size: 20px;
        padding-top: 15px;
        width: 70%;
    }

    .whole {
        max-width: 960px;
    }

    .flex {
        justify-content: space-between;
        flex-wrap: wrap;

    }

    main .flex {
        flex-direction: row;
    }

    .otstup {
        width: 40%;
        height: 220px;
    }

    header {
        padding: 15px 0 250px;
    }

    .navig {
        text-align: right;
        justify-content: right;
        margin-bottom: 85px;
        width:30%;
    }

    .f22 {
        margin-bottom: 55px;
    }

    .card {
        width: 100%;
    }

    .twin {
        display: flex;
    }

    .find {
        width: 50%;
    }

    button {
        width: 50%;
    }
}

@media (min-width:1200px) {
    .whole {
        max-width: 1440px;
    }

    .card {
        width: 100%;
    }

    .twin {
        width: 50%;
    }

    .wrapper {
        width: 80%;
    }

    header {
        height: 100vh;
    }

    h2 {

        font-size: 50px;
    }

    header h3 {
        display: none;
    }

    .h2 {
        margin: auto;
        width: 50%;
    }

    .f22 {
        font-size: 30px;
    }

    .logo {
        font-size: 30px;
    }

    a {
        font-size: 25px;

    }

}